<h1>Conversation</h1>

<ul>
  <% @messages.each do |message| %>
    <% if message.body %>
      <li>
        <h4><%= message.body %></h4>
        <p><%= message.user.email %></p>
        <p><%= message.created_at %></p>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>

    <%= f.submit "Send" %>
<% end %>

<button type="button" class="btn btn-sm btn-outline-secondary">
  <%= link_to 'Back', conversations_path %>
</button>
