<p id="notice"><%= notice %></p>

<% if @profile.photo.attached? %>
<p>
  <%= image_tag @profile.photo %>
</p>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @profile.biography %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @profile.specialty %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Experiences:</strong>
  <% @profile_experiences = Experience.where(profile_id: @profile.id) %>
  <% if @profile_experiences.empty? %>
    N/A
  <% else %>
    <% @profile_experiences.each do |experiences| %>
      <ul>
        <%= experiences.description %>
      </ul>
    <% end %>
  <% end %>

</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
<%= link_to 'Message', conversations_index_path(:conversation_id) %>
