<p id="notice"><%= notice %></p>

<!-- Container to hold all front page content -->
<main class="show-page-container">
  <div class="show-page-content">
      <div class="show-page-photo">
        <% if @profile.photo.attached? %>
        <p>
          <%= image_tag @profile.photo, alt: "profile-photo", class: "display-photo" %>
        </p>
        <% else %>
          <%= image_tag "profile-placeholder.jpg", alt: "placeholder-image", class: "display-photo" %>
        <% end %>
      </div>
      <div class="show-page-introduction">
          <div class="show-content">
            <p>
              <strong>First name:</strong>
              <%= @profile.first_name %>
            </p>

            <p>
              <strong>Last name:</strong>
              <%= @profile.last_name %>
            </p>

            <p>
              <strong>Sex:</strong>
              <%= @profile.sex %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @profile.city %>
            </p>

            <p>
              <strong>Biography:</strong>
              <%= @profile.biography %>
            </p>

            <p>
              <strong>Specialty:</strong>
              <% if @profile.specialties.empty? %>
                N/A
              <% else %>
                <% @profile.specialties.each do |specialty| %>
                  <ul>
                    <%= specialty.description %>
                  </ul>
                <% end %>
              <% end %>
            </p>

            <p>
              <strong>Experiences:</strong>
              <% @profile_experiences = Experience.where(profile_id: @profile.id) %>
              <% if @profile_experiences.empty? %>
                N/A
              <% else %>
                <% @profile_experiences.each do |experiences| %>
                  <ul>
                    <%= experiences.description %>
                  </ul>
                <% end %>
              <% end %>
            </p>
            <% if current_user != @profile.user %>
            <% else %>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <%= link_to 'Edit', edit_profile_path(@profile) %>
              </button>
            <% end %>
            <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to 'Back', profiles_path %>
            </button>
            <% if current_user == @profile.user %>
            <% elsif !user_signed_in? %>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                <%= link_to "Message", user_session_path %>
              </button>
            <% else %>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <% @users = User.where.not(id: current_user.id) %>
                <%= link_to "Message", conversations_path(sender_id: current_user.id, receiver_id: @profile.user_id), method: :post %>
            </button>
            <% end %>
          </div>
      </div>
  </div>
</main>
