<p id="notice"><%= notice %></p>

<!-- Container to hold all front page content -->
<main id="home-page-container">
  <div class="front-page-content">
      <div id="front-page-photo">
        <% if @profile.photo.attached? %>
        <p>
          <%= image_tag @profile.photo, alt: "profile-photo", id: "home-photo" %>
        </p>
        <% else %>
          <%= image_tag "profile-placeholder.jpg", alt: "placeholder-image", id: "home-photo" %>
        <% end %>
      </div>
      <div id="front-page-introduction">
          <div id="introduction-content">
            <p>
              <strong>First name:</strong>
              <%= @profile.first_name %>
            </p>

            <p>
              <strong>Last name:</strong>
              <%= @profile.last_name %>
            </p>

            <p>
              <strong>Sex:</strong>
              <%= @profile.sex %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @profile.city %>
            </p>

            <p>
              <strong>Biography:</strong>
              <%= @profile.biography %>
            </p>

            <p>
              <strong>Specialty:</strong>
              <% if @profile.specialties.empty? %>
                N/A
              <% else %>
                <% @profile.specialties.each do |specialty| %>
                  <ul>
                    <%= specialty.description %>
                  </ul>
                <% end %>
              <% end %>
            </p>

            <p>
              <strong>Experiences:</strong>
              <% @profile_experiences = Experience.where(profile_id: @profile.id) %>
              <% if @profile_experiences.empty? %>
                N/A
              <% else %>
                <% @profile_experiences.each do |experiences| %>
                  <ul>
                    <%= experiences.description %>
                  </ul>
                <% end %>
              <% end %>
            </p>
            <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to 'Edit', edit_profile_path(@profile) %> |
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to 'Back', profiles_path %> |
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to 'Message', conversations_index_path(:conversation_id) %>
            </button>
          </div>
      </div>
  </div>
</main>
