<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <%= image_tag ("icon.PNG"), class: "d-inline-block align-top", width: "60", height: "60" %>
    <%= link_to "Everybody Fitness", root_path, class: "navbar-brand" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Search", profiles_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <% if !user_signed_in? %>
          <%= link_to "Create Profile", new_profile_path, class: "nav-link active" %>
        <% elsif Profile.find_by(user_id: current_user.id) %>
          <%= link_to "Edit Profile", edit_profile_path(Profile.find_by(user_id: current_user.id).id), class: "nav-link active" %>
        <% elsif %>
          <%= link_to "Create Profile", new_profile_path, class: "nav-link active" %>
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Boxing", categories_boxing_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Yoga", categories_yoga_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Cardio", categories_cardio_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Weights", categories_weights_path, class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item">
        <% if user_signed_in? %>
            <%# logout button (only show when logged in) %>
            <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "nav-link active" %>
        <% else %>
            <%# log in button - only show this when logged out %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link active" %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Inbox", conversations_path, class: "nav-link active" %>
        <% end %>
      </li>
    </ul>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= current_user.email %>
      <% end %>
    </span>
  </div>
</nav>