These are the boxing trainers

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sex</th>
      <th>City</th>
      <th>Biography</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxing = ProfilesSpecialty.where(specialty_id: 27) %>
    <% @boxing_profiles_id = [] %>
    <% @boxing.each do | id | %>
        <% @boxing_profiles_id.push(id.profile_id)%>
    <% end %>
    <% @result = Profile.where(id: @boxing_profiles_id) %>
    <% @result.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.sex %></td>
        <td><%= profile.city %></td>
        <td><%= profile.biography %></td>
        <td><%= link_to 'Show', profile %></td>
        <% if current_user != profile.user %>
        <% else %>
          <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <% end %>
        <% if current_user != profile.user %>
        <% else %>
          <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>