This is a categories page

<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td> <%= link_to "Boxing", categories_boxing_path %> </td>
    </tr>
    <tr>
        <td> <%= link_to "Yoga", categories_yoga_path %> </td>
    </tr>
    <tr>
        <td> <%= link_to "Cardiovascular", categories_cardio_path %> </td>
    </tr>
    <tr>
        <td> <%= link_to "Weights", categories_weights_path %> </td>
    </tr>

  </tbody>

</table>

<br>

